*.o
*.moc
*.pro.user
moc_*
Makefile
lib/libqtvtvocdocument.so
lib/libqtvtvocdocument.so.1
lib/libqtvtvocdocument.so.1.0
lib/libqtvtvocdocument.so.1.0.0
lib/tests/*.kvtml
lib/tests/tests
trainer/trainer
TinyVocTrainer/TinyVocTrainer
TinyVocTrainer/core.*
build-stamp
builddir/
debian/tinyvoctrainer.substvars
